<h1><%= @company.name%> </h1>
<h4><%=@company.country%> </h4>
<span> <%=@company.start_date%> </span>
<p><%= @company.description%> </p>
<%= link_to  "Back to Companies", companies_path %>
<%=link_to "Delete this Company", company_path(@company), method: :delete, data: { confirm: "Really delete the company?" } %>